<div class="page-header">
    <h1>tgTypeahead</h1>
</div>

<p class="lead">
    Introduction
</p>

<div class="bs-callout bs-callout-info">
    <p>The Typeahead component is a fast and fully-featured autocomplete library.</p>

    <p>This directive can be used to quickly create elegant typeaheads with any form of text input.</p>
</div>

<p class="lead">
    Attributes
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-7">
        </colgroup>
        <thead>
            <tr>
                <th>Param</th>
                <th>Type</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="attr in control.typeahead.attributes">
                <td>
                    <code>{{ attr.name}}</code>
                </td>
                <td>
                    <a href="" class="label type-hint type-hint-{{ attr.type }}">{{ attr.type }}</a>
                </td>
                <td>{{ attr.description }}</td>
            </tr>
        </tbody>
    </table>
</div>

<p class="lead">
    Simple typeahead
</p>

<div class="bs-example">
    <div ng-include="'./view/components/partials/tgTypeahead/example1.html'"></div>

    <div tg-tabset=""
         tg-tabset-active-tab="result">
        <div tg-tab="result"
             tg-tab-title="RESULT">
            <div class="bs-callout bs-callout-success">
                <h4>MODEL</h4>

                <p hljs language="js" source="toJson(__typeahead.model1)" compile="true"></p>
            </div>
        </div>
        <div tg-tab="html"
             tg-tab-title="HTML">
            <div hljs language="xml" include="'./view/components/partials/tgTypeahead/example1.html'"></div>
        </div>
    </div>
</div>

<p class="lead">
    Simple typeahead with multiple sources
</p>

<div class="bs-example">
    <div ng-include="'./view/components/partials/tgTypeahead/example2.html'"></div>

    <div tg-tabset=""
         tg-tabset-active-tab="result">
        <div tg-tab="result"
             tg-tab-title="RESULT">
            <div class="bs-callout bs-callout-success">
                <h4>MODEL</h4>

                <p hljs language="js" source="toJson(__typeahead.model2)" compile="true"></p>
            </div>
        </div>
        <div tg-tab="html"
             tg-tab-title="HTML">
            <div hljs language="xml" include="'./view/components/partials/tgTypeahead/example2.html'"></div>
        </div>
    </div>
</div>

<p class="lead">
    Typeahead with tags
</p>

<div class="bs-example">
    <div ng-include="'./view/components/partials/tgTypeahead/example3.html'"></div>

    <div tg-tabset=""
         tg-tabset-active-tab="result">
        <div tg-tab="result"
             tg-tab-title="RESULT">
            <div class="bs-callout bs-callout-success">
                <h4>MODEL</h4>

                <p hljs language="js" source="toJson(__typeahead.model3)" compile="true"></p>
            </div>
        </div>
        <div tg-tab="html"
             tg-tab-title="HTML">
            <div hljs language="xml" include="'./view/components/partials/tgTypeahead/example3.html'"></div>
        </div>
    </div>
</div>

<p class="lead">
    Typeahead with tags and multiselection at once
</p>

<div class="bs-callout bs-callout-info">
    <h4>NOTE:</h4>
    <p>* To select multiple items hold <kbd>ctrl</kbd> or <kbd>command</kbd> key</p>
    <p>** For removing tags, you can use <kbd>back</kbd> key</p>
</div>

<div class="bs-example">
    <div ng-include="'./view/components/partials/tgTypeahead/example4.html'"></div>

    <div tg-tabset=""
         tg-tabset-active-tab="result">
        <div tg-tab="result"
             tg-tab-title="RESULT">
            <div class="bs-callout bs-callout-success">
                <h4>MODEL</h4>

                <p hljs language="js" source="toJson(__typeahead.model4)" compile="true"></p>
            </div>
        </div>
        <div tg-tab="html"
             tg-tab-title="HTML">
            <div hljs language="xml" include="'./view/components/partials/tgTypeahead/example4.html'"></div>
        </div>
    </div>
</div>

<p class="lead">
    Typeahead with suggestions
</p>

<div class="bs-example">
    <div ng-include="'./view/components/partials/tgTypeahead/example5.html'"></div>

    <div tg-tabset=""
         tg-tabset-active-tab="result">
        <div tg-tab="result"
             tg-tab-title="RESULT">
            <div class="bs-callout bs-callout-success">
                <h4>MODEL</h4>

                <p hljs language="js" source="toJson(__typeahead.model5)" compile="true"></p>
            </div>
        </div>
        <div tg-tab="html"
             tg-tab-title="HTML">
            <div hljs language="xml" include="'./view/components/partials/tgTypeahead/example5.html'"></div>
        </div>
    </div>
</div>

<p class="lead">
    Typeahead with tags and postponed selection
</p>

<div class="bs-example">
    <div ng-include="'./view/components/partials/tgTypeahead/example6.html'"></div>

    <div tg-tabset=""
         tg-tabset-active-tab="result">
        <div tg-tab="result"
             tg-tab-title="RESULT">
            <div class="bs-callout bs-callout-success">
                <h4>MODEL</h4>

                <p hljs language="js" source="toJson(__typeahead.model6)" compile="true"></p>
            </div>
        </div>
        <div tg-tab="html"
             tg-tab-title="HTML">
            <div hljs language="xml" include="'./view/components/partials/tgTypeahead/example6.html'"></div>
        </div>
    </div>
</div>
