<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Massive Angular</title>
        <link type="text/css" rel="stylesheet" href="/css/vendor.css">
        <link type="text/css" rel="stylesheet" href="/css/application.css">
        <script type="text/javascript" src="/js/vendor.js"></script>
        <script type="text/javascript" src="/js/application.js"></script>
    </head>
    <body data-ng-app="app" data-ng-controller="AppController">
        <div class="wrap">
            <header data-ng-include="'/layout/header.html'"></header>

            <section data-ng-include="'/layout/navigation.html'"></section>

            <section data-ui-view=""></section>

            <footer data-ng-include="'/layout/footer.html'"></footer>
        </div>
    </body>
</html>
