<div class="page-header">
    <h1>tgTypeahead</h1>
</div>

<p class="lead">
    Introduction
</p>

<p>
    The Typeahead component is a fast and fully-featured autocomplete library. This directive can be used to quickly create elegant typeaheads with any form of text input.
</p>

<p class="lead">
    Examples
</p>

<h3>Simple typeahead</h3>

<div data-tg-typeahead=""
     data-tg-typeahead-placeholder="Search...">
    <div data-tg-typeahead-data-set="result as result.name for result in getResultsAsync($viewValue, $context)">
        <div data-tg-typeahead-data-set-item="">
            <div class="tg-typeahead__suggestions-group-item-inner clearfix"
                 data-tg-highlight-html="{{ $term }}">
                <div class="tg-typeahead__item-right">
                    {{ $match.model.code }}
                </div>
                <div class="tg-typeahead__item-left tg-typeahead__text-overflow nomargins">
                    {{ $match.model.name }}
                </div>
            </div>
        </div>
    </div>
    <div data-tg-typeahead-popup-footer="">
        <div class="tg-typeahead__suggestions-footer-inner"
             data-ng-if="$dataSets[0].data.noResults">
            No results for <strong>{{ $term }}</strong>
        </div>
    </div>
</div>
