<div class="page-header">
    <h1>tgForm</h1>
</div>

<p class="lead">
    TBD
</p>

<div>
    <h1>Simple form validation</h1>
    <form tp-form novalidate name="simpleForm">
        <div>
            <label>
                Simple text
                <input type="text" name="simpleText" ng-model="simpleText" required minlength="3" />
            </label>
        </div>

        <div>
            Simple form is valid: {{ simpleForm.$valid }}
        </div>
        <div>
            <tp-form-message name="simpleText"
                             required-message="simple text is required"
                             minlength-message="simple text min length is 3">
            </tp-form-message>
        </div>
    </form>
</div>

<div>
    <h1>Custom form validation</h1>
    <form tp-form novalidate name="customForm">
        <div>
            <label>
                Field 1
                <input type="text" name="field1" ng-model="field1" required />
            </label>
        </div>
        <div>
            <label>
                Field 2
                <input type="text" name="field2" ng-model="field2" tp-validate-equal-to-field1="equalTo(field1, $value)" />
            </label>
        </div>

        <div>
            Custom form is valid: {{ customForm.$valid }}
        </div>
        <div>
            <tp-form-message name="field1"
                             required-message="field1 is required">
            </tp-form-message>
            <tp-form-message name="field2"
                             equal-to-field1-message="field2 must be equal to field1">
            </tp-form-message>
        </div>
    </form>
</div>

<div>
    <h1>Custom async form validation</h1>
    <form tp-form novalidate name="customAsyncForm">
        <div>
            <label>
                Async field
                <input type="text" name="asyncField" ng-model="asyncField" tp-validate-async-some-async-validation="someAsyncValidation($value)" />
            </label>
        </div>

        <div>
            Custom async form is valid: {{ (customAsyncForm.$pending) ? 'validating...' : customAsyncForm.$valid }}
        </div>
        <div>
            <tp-form-message name="asyncField"
                             some-async-validation-message="Async field must be 123">
            </tp-form-message>
        </div>
    </form>
</div>

<div>
    <h1>Custom validator form validation</h1>
    <form tp-form novalidate name="customValidatorForm">
        <tp-form-validator tp-validate-valid-date="isDateValid(year, month, day)"></tp-form-validator>

        <input type="number" name="year" ng-model="year" placeholder="year" />
        <input type="number" name="month" ng-model="month" placeholder="month" />
        <input type="number" name="day" ng-model="day" placeholder="day" />

        <div>
            Custom validator form is valid: {{ customValidatorForm.$valid }}
        </div>
        <div>
            <tp-form-message
                valid-date-message="Invalid Date"></tp-form-message>
        </div>
    </form>
</div>

<div>
    <h1>Custom async validator form validation</h1>
    <form tp-form novalidate name="customValidatorAsyncForm">
        <tp-form-validator tp-validate-async-valid-date="isDateValidAsync(asyncYear, asyncMonth, asyncDay)"></tp-form-validator>

        <input type="number" name="year" ng-model="asyncYear" placeholder="year" />
        <input type="number" name="month" ng-model="asyncMonth" placeholder="month" />
        <input type="number" name="day" ng-model="asyncDay" placeholder="day" />

        <div>
            Custom async validator form is valid: {{ (customValidatorAsyncForm.$pending) ? 'validating...' : customValidatorAsyncForm.$valid }}
        </div>
        <div>
            <tp-form-message
                valid-date-message="Invalid Date"></tp-form-message>
        </div>
    </form>
</div>
